#include "\masm32\include\resource.h"

#define IDI_APP                         200
#define IDC_PROFILENUM                  1000
#define IDC_CALCULATE                   1001
#define IDC_LEVELNUM                    1002
#define IDC_LEVELKEY                    1003
#define IDC_EXIT                        1004
#define IDC_STATIC                      -1

DLGBOX DIALOG 0, 0, 245, 115
STYLE DS_MODALFRAME | 0x804L | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Keygen"
FONT 9, "Arial"
{
 COMBOBOX IDC_PROFILENUM, 62,54,112,100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 COMBOBOX IDC_LEVELNUM, 62,74,112,100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "&Calculate", IDC_CALCULATE, 186,54,50,14, WS_TABSTOP
 PUSHBUTTON "E&xit", IDC_EXIT, 186,74,50,14, WS_TABSTOP
 LTEXT "Commandos : Behind Enemy Lines Mission Password Generator", IDC_STATIC, 6,8,202,9
 LTEXT "* Select your profile number and mission to calculate mission key\n* Mission 1 (Baptism Of Fire) and Missions 21-26 (Tutorial Missions) do\n   not have mission keys", IDC_STATIC, 6,22,238,26
 LTEXT "Profile Number", IDC_STATIC, 6,54,51,13
 LTEXT "Mission Number", IDC_STATIC, 6,74,55,10
 EDITTEXT IDC_LEVELKEY, 62,95,112,12, ES_READONLY | WS_TABSTOP
 LTEXT "Mission Key", IDC_STATIC, 6,95,45,10
}

IDI_APP ICON "hello.ico"
